[submodule "external/libzip"]
	path = external/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "external/zlib-ng"]
	path = external/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	branch = develop
[submodule "external/bzip2"]
	path = external/bzip2
	url = https://sourceware.org/git/bzip2.git
	branch = master
[submodule "external/xz"]
	path = external/xz
	url = https://git.tukaani.org/xz.git
[submodule "zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
