trigger:
  branches:
    include:
      - master
      - refs/tags/*
resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main
variables:
  - group: Xamarin-Secrets
stages:
  - stage: Build
    jobs:
    - job: buildWindows
      pool:
        vmImage: windows-latest
      variables:
        LIBZIP_FEATURES: -DENABLE_COMMONCRYPTO=OFF -DENABLE_GNUTLS=OFF -DENABLE_MBEDTLS=OFF -DENABLE_OPENSSL=OFF -DENABLE_WINDOWS_CRYPTO=OFF -DBUILD_TOOLS=OFF -DBUILD_REGRESS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_DOC=OFF -DENABLE_BZIP2=OFF -DENABLE_LZMA=OFF
        COMMON_CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 16 2019" -DBUILD_SHARED_LIBS=ON -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded -DCMAKE_POLICY_DEFAULT_CMP0074=NEW -DCMAKE_POLICY_DEFAULT_CMP0091=NEW
      steps:
        - script: |
            echo "Hello"
            git submodule update --init --recursive
          displayName: "Update Submodules"
        - script: |
            cd external/libzip
            git apply -v ../../libzip-changes.patch
          displayName: "Apply Patches"
        - script: |
            cd external/vcpkg
            bootstrap-vcpkg.bat
          displayName: "Build vcpkg"
        - script: |
            external\vcpkg\vcpkg.exe integrate install
            external\vcpkg\vcpkg.exe install zlib:x64-windows-static
            mkdir .\build\Windows\64
            cd .\build\Windows\64
            cmake $(LIBZIP_FEATURES) $(COMMON_CMAKE_PARAMS) -DZLIB_ROOT=..\..\..\external\vcpkg\installed\x64-windows-static -A x64 ..\..\..\external\libzip
            cmake --build . --config Release -v
          displayName: "x64 Build"
        - script: |
            external\vcpkg\vcpkg.exe integrate install
            external\vcpkg\vcpkg.exe install zlib:x86-windows-static
            mkdir .\build\Windows\32
            cd .\build\Windows\32
            cmake $(LIBZIP_FEATURES) $(COMMON_CMAKE_PARAMS) -DZLIB_ROOT=..\..\..\external\vcpkg\installed\x86-windows-static -A Win32 ..\..\..\external\libzip
            cmake --build . --config Release -v
          displayName: "x86 Build"
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: build\Windows\32\lib\Release\zip.dll
            includeRootFolder: false
            archiveType: 7z
            replaceExistingArchive: true
            archiveFile: $(Build.ArtifactStagingDirectory)\libzip-windows-x86.7z
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: build\Windows\64\lib\Release\zip.dll
            includeRootFolder: false
            archiveType: 7z
            replaceExistingArchive: true
            archiveFile: $(Build.ArtifactStagingDirectory)\libzip-windows-x64.7z
        - task: PublishBuildArtifacts@1
          displayName: upload artifacts
          inputs:
            artifactName: 'native'
            pathtoPublish: $(Build.ArtifactStagingDirectory)
    - job: buildLinux
      pool:
        vmImage: ubuntu-16.04
      steps:
        - bash: |
            sudo dpkg --add-architecture i386
            sudo apt -y update
            sudo apt -f -u install ninja-build gcc-multilib lib32z1-dev zlib1g-dev libssl-dev libssl1.1:i386 libssl-dev:i386 libc-dev:i386 libc6-dev-i386 -y
            git submodule update --init --recursive
          displayName: 'Install Tools'
        - bash: |
            patch --verbose -d external/libzip -p1 -l < libzip-static.patch
            patch --verbose -d external/libzip -p1 -l < libzip-changes.patch
          displayName: 'Apply Patch'
        - bash: |
            ./build_native
          displayName: 'Build Linux x64'
        - bash: |
            PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig ARCH=32 TOOLCHAIN_FILE=../../../linux-32.cmake ./build_native
            find build/* | grep libzip
          displayName: 'Build Linux x86'
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: build/Linux/32/lib/libzip.so.5.3
            includeRootFolder: false
            archiveType: 7z
            replaceExistingArchive: true
            archiveFile: $(Build.ArtifactStagingDirectory)/libzip-linux-x86.7z
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: build/Linux/64/lib/libzip.so.5.3
            includeRootFolder: false
            archiveType: 7z
            replaceExistingArchive: true
            archiveFile: $(Build.ArtifactStagingDirectory)/libzip-linux-x64.7z
        - task: PublishBuildArtifacts@1
          displayName: upload artifacts
          inputs:
            artifactName: 'native'
            pathtoPublish: $(Build.ArtifactStagingDirectory)
    - job: buildMacOS
      dependsOn:
        - buildlinux
        - buildWindows
      pool:
        vmImage: macOS-10.14
      steps:
        - bash: |
            brew tap xamarin/xamarin-android-windeps
            brew upgrade https://raw.githubusercontent.com/Homebrew/homebrew-core/a6542037a48a55061a4c319e6bb174b3715f7cbe/Formula/mingw-w64.rb
            brew install mingw-w64 p7zip
            brew install ninja xamarin/xamarin-android-windeps/mingw-zlib
            git submodule update --init --recursive
          displayName: 'Install toolchain'
        - bash: |
            patch --verbose -d external/libzip -p1 -l < libzip-changes.patch
          displayName: 'Apply Patch'
        - bash: |
            HOSTOS=Darwin ./build_native
            mkdir -p build/Linux/64
            mkdir -p build/Linux/32
            mkdir -p build/Windows/64
            mkdir -p build/Windows/32
            find build/* | grep libzip
          displayName: 'Build native and Windows'
        - task: DownloadBuildArtifacts@0
          displayName: download artifacts
          inputs:
            artifactName: native
            downloadPath: $(Build.ArtifactStagingDirectory)
        - task: ExtractFiles@1
          displayName: Extract 64 bit Linux native
          inputs:
            archiveFilePatterns: $(Build.ArtifactStagingDirectory)/native/libzip-linux-x64.7z
            destinationFolder: build/Linux/64
        - task: ExtractFiles@1
          displayName: Extract 32 bit Linux native
          inputs:
            archiveFilePatterns: $(Build.ArtifactStagingDirectory)/native/libzip-linux-x86.7z
            destinationFolder: build/Linux/32
        - task: ExtractFiles@1
          displayName: Extract 64 bit Windows native
          inputs:
            archiveFilePatterns: $(Build.ArtifactStagingDirectory)/native/libzip-windows-x64.7z
            destinationFolder: build/Windows/64
        - task: ExtractFiles@1
          displayName: Extract 32 bit Windows native
          inputs:
            archiveFilePatterns: $(Build.ArtifactStagingDirectory)/native/libzip-windows-x86.7z
            destinationFolder: build/Windows/32
        - bash: |
            mv build/Linux/32/libzip.so.5.3 build/Linux/32/libzip.so
            mv build/Linux/64/libzip.so.5.3 build/Linux/64/libzip.so
            mv build/Windows/32/zip.dll build/Windows/32/libzip.dll
            mv build/Windows/64/zip.dll build/Windows/64/libzip.dll
            rm $(Build.ArtifactStagingDirectory)/native/libzip-linux-*.7z
            rm $(Build.ArtifactStagingDirectory)/native/libzip-windows-*.7z
          displayName: 'Find libzip'
        - task: MSBuild@1
          displayName: 'Build solution libZipSharp.csproj'
          inputs:
            solution: libZipSharp.csproj
            configuration: Release
            msbuildArguments: /restore /v:diag /p:RunningOnCI=true
        - task: MSBuild@1
          displayName: NuGet pack libZipSharp
          inputs:
            solution: libZipSharp.csproj
            configuration: Release
            msbuildArguments: /t:Pack
        - task: CopyFiles@2
          displayName: Copy nupkg
          inputs:
            contents: '*.nupkg'
            targetFolder: $(Build.ArtifactStagingDirectory)
        - task: CopyFiles@2
          displayName: Copy snupkg
          inputs:
            contents: '*.snupkg'
            targetFolder: $(Build.ArtifactStagingDirectory)
        - task: PublishBuildArtifacts@1
          displayName: upload artifacts
          inputs:
            artifactName: 'nuget'
            pathtoPublish: $(Build.ArtifactStagingDirectory)
  - stage: Test
    dependsOn: Build
    jobs:
    - job: testlinux
      displayName: 'Test Linux'
      pool:
        vmImage: ubuntu-16.04
      steps:
        - task: DownloadBuildArtifacts@0
          displayName: download artifacts
          inputs:
            artifactName: NuGet
            downloadPath: $(Build.SourcesDirectory)
        - task: MSBuild@1
          displayName: 'Build solution LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj'
          inputs:
            solution: LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj
            configuration: Release
            msbuildArguments: /restore /t:RunNunitTests /p:ReferenceNuget=True /v:diag
    - job: testmacos
      displayName: 'Test MacOS'
      pool:
        vmImage: macOS-10.14
      steps:
        - task: DownloadBuildArtifacts@0
          displayName: download artifacts
          inputs:
            artifactName: NuGet
            downloadPath: $(Build.SourcesDirectory)
        - task: MSBuild@1
          displayName: 'Build solution LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj'
          inputs:
            solution: LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj
            configuration: Release
            msbuildArguments: /restore /t:RunNunitTests /p:ReferenceNuget=True /v:diag
    - job: testwindows
      displayName: 'Test Windows'
      pool:
        vmImage: windows-2019
      steps:
        - task: DownloadBuildArtifacts@0
          displayName: download artifacts
          inputs:
            artifactName: NuGet
            downloadPath: $(Build.SourcesDirectory)
        - task: MSBuild@1
          displayName: 'Build solution LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj'
          inputs:
            solution: LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj
            configuration: Release
            msbuildArguments: /restore /t:RunNunitTests /p:ReferenceNuget=True /v:diag
        - task: DotNetCoreCLI@2
          displayName: "Run Tests under .net Core"
          inputs:
            command: test
            projects: 'LibZipSharp.UnitTest/LibZipSharp.UnitTest.csproj'
            arguments: '--configuration Release --framework netcoreapp3.1 --no-build'
  - stage: Publish
    dependsOn: Test
    condition: eq(variables['System.TeamProject'], 'devdiv') # only sign the packages when running on Windows, and using the private server which has the certificates
    jobs:
    - template: sign-artifacts/jobs/v1.yml@internal-templates
      parameters:
        condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')