<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="grpc.dependencies.zlib.redist" version="1.2.8.10" />
  <package id="libzip.redist" version="1.1.2.7" />
  <package id="NUnit" version="3.11.0" targetFramework="net451" />
  <package id="NUnit.Engine" version="3.9.0" targetFramework="net451" />
</packages>